---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'EB Garamond', serif;
$base-font-size:   x-large;
$small-font-size:  0.875em;
$vsmall-font-size: 0.66em;
$base-line-height: 1.5;
$spacing-unit:     1.5em;

$dsblue:     #483d8b;
$grey-vlight:#eee;
$grey-light: #ccc;
$grey:       #888;
$grey-dark:  #444;
$grey-vdark: #222;
$blue:       #0091ed;
$orange:     #ca6c18;
$red:        #b6321c;
$white:      #ffffff;


$background: linear-gradient(to bottom, white 0%, white 100%, $dsblue 100%, $dsblue 100%);
$margin-color: $red;
$dark-background:   darken($grey-vlight, 5%);
$text-color:        $grey-vdark;
$text-light-color:  $grey;
$url-color:         $dsblue;
$url-hover-color:   $blue;
$header-text-color: $text-light-color;
$header-hover-color:$text-color;
$header-hover-url:  $url-color;
$line-color:        $grey-light;



// Width of the content area
$content-width:    50em;
$content-min-width:5em;
$mobile:           32em;
$desktop:          50em;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;

h1 {
  text-align: center;
  font-weight: normal;
  font-family: Olive Village;
}

.center {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
}